.pln {
    color:#eaeaea
}
@media screen {
    .str {
        color:#E8DB61
    }
    .kwd {
        color:#FF0071
    }
    .com {
        color:#8292a2
    }
    .typ {
        color:#66d9ef
    }
    .lit {
        color:#ad77ff
    }
    .pun,.opn,.clo {
        color:#eaeaea
    }
    .tag {
        color:#F0BE5A
    }
    .atn {
        color:#BABABA
    }
    .atv {
        color:#9DC450
    }
    .dec,.var {
        color:#ae81ff
    }
    .fun {
        color:red
    }
}

@media print,projection {
    .str {
        color:#E8DB61
    }
    .kwd {
        color:#FF0071;
        font-weight:700
    }
    .com {
        color:#8292a2;
        font-style:italic
    }
    .typ {
        color:#66d9ef;
        font-weight:700
    }
    .lit {
        color:#ad77ff
    }
    .pun,.opn,.clo {
        color: #eaeaea
    }
    .tag {
        color:#F0BE5A;
        font-weight:700
    }
    .atn {
        color:#BABABA
    }
    .atv {
        color:#9DC450
    }
}
